*
    margin: 0
    padding: 0
    
.hidden
    display: none!important

body 
    padding: 50px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
    #displayLogin
        .btn-register
            color: blue
            cursor: pointer

a
    color: #00B7FF
